@font-face {
  font-family: wizFont;
  src: url(OldLondon.otf);
}

body {
  background: url(../img/bg.png);
  color: #ca9;
  font-size: 20px;
  padding:0;
  margin: 0;
}
*, input {
  font-family: wizFont, Georgia, Times New Roman, serif;
}
input[type=button] {
  padding: 16px;
  border: 1px solid #666;
  border-radius: 6px;
  background: rgba(40, 20, 0, 0.2);
  box-shadow: 0 0 8px #333;
}
input[type=button]:hover {
  color: #ffa;
  background: rgba(0, 0, 0, 0.6);
}
#menuTable tr {
}
#menuTable td {
  min-height: 42px;
  border-radius: 16px;
  padding: 8px;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.75);
  min-width: 100px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
#page-wrap {
  padding: 8px;
  padding-top: 0px;
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0;
  border-bottom: 1px solid #876;
  margin-bottom: 8px;
  font-weight:normal;
  text-align: center;
}
#map {
  border-radius: 32px;
  box-shadow: 0px 0px 32px #000;
  background: url('../img/paper2.jpg');
  height: 700px;
  margin: 8px;
  color: rgba(40, 20, 0, 0.6);
  overflow: auto;
}
#maproot {
  position: relative;
  left: 0;
  top: 0;
}
.gameunit, .mapblock, .wizdot, #cursor, .banner, .label {
  position: absolute;
}
.banner {
  color: rgba(255, 255, 100, 0.5);
  width: 120px;
  margin-left: -48px;
  text-align: center;
  z-index: 500;
}
.label {
  color: rgba(50, 0, 0, 0.3);
  width: 240px;
  margin-left: -108px;
  text-align: center;
  z-index: 200;
  font-weight: bold;
}
.gameunit, .banner {
  -webkit-transition: left 1s ease-in-out, top 1s ease-in-out;
  -moz-transition: left 1s ease-in-out, top 1s ease-in-out;
  -ms-transition: left 1s ease-in-out, top 1s ease-in-out;
  transition: left 1s ease-in-out, top 1s ease-in-out;
}
.wizdot {
  background: rgba(0, 70, 140, 0.25);
  border-radius: 8px;
  padding: 1px;
  width: 6px;
  height: 6px;
  margin: 8px;
}
.mapblock {
  width: 24px;
  height: 24px;
  background: rgba(80, 60, 40, 0.6);
}
.desk {
  background: rgba(80, 80, 60, 0.4);
  border-radius: 4px;
  margin: 2px;
  width: 20px;
  height: 20px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #a97
}
#instruction {
  text-align: center;
}
#cursor {
  width: 24px;
  height: 24px;
  z-index: 1000;
}
.crs-standard {
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.2);
  margin-left: -1px;
  margin-top: -1px;
}
.crs-pick {
  border: 4px solid rgba(250, 250, 0, 0.75);
  background: rgba(250, 250, 0, 0.2);
  margin-left: -4px;
  margin-top: -4px;
}

#msgbox {
  position: absolute;
  top: 200px;
  left:50%;
  display:none;
  z-index: 2000;
}

#msgbox > div {
  width: 532px;
  margin-left: -282px;
  height: 332px;
  border:1px solid gray;
  background: url(../img/marble.jpg);
  padding: 32px;
  border-radius: 32px;
  box-shadow: 8px 8px 32px #000;
}

#msgbox-inner {
  background: url('../img/oldpaper.jpg');
  min-height: 300px;
  border: 1px solid #666;
  width: 500px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px #000;
}

#msgbox-content {
  color: rgba(0,0,0,0.6);
  height: 250px;
  overflow:auto;
}

.goal {
  color: #300;
}

/************ unit styles ***************/

.wizard {
  background: rgba(100, 0, 0, 0.4);
  border-radius: 12px;
  color: rgba(250, 180, 160, 0.4);
  padding: 4px;
  width: 14px;
  height: 14px;
}
.muncher {
  background: rgba(0, 0, 250, 0.5);
  border-radius: 12px;
  color: rgba(250, 180, 160, 0.4);
  padding: 4px;
  width: 14px;
  height: 14px;
}
.deadbody {
  background: rgba(30, 30, 30, 0.5);
  border-radius: 12px;
  color: rgba(250, 180, 160, 0.4);
  padding: 4px;
  width: 14px;
  height: 14px;
}





















